<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>The National Environmental Policy Act was signed into law.[470]</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/National_Environmental_Policy_Act</string>
		<key>date</key>
		<date>1970-01-01T00:00:00Z</date>
	</dict>
	<key>1969 National Society of Film Critics Awards</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1969_National_Society_of_Film_Critics_Awards</string>
		<key>date</key>
		<date>1970-01-05T00:00:00Z</date>
	</dict>
	<key>Super Bowl IV</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Super_Bowl_IV</string>
		<key>date</key>
		<date>1970-01-11T00:00:00Z</date>
	</dict>
	<key>Equal Pay Act of 1963</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Equal_Pay_Act_of_1963</string>
		<key>date</key>
		<date>1970-01-13T00:00:00Z</date>
	</dict>
	<key>1970 Motor Trend 500: A. J. Foyt won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Motor_Trend_500</string>
		<key>date</key>
		<date>1970-01-18T00:00:00Z</date>
	</dict>
	<key>Republican congressman William T. Cahill resigned </key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/William_T._Cahill</string>
		<key>date</key>
		<date>1970-01-19T00:00:00Z</date>
	</dict>
	<key>1970 NBA All-Star Game: The Eastern beats West</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_NBA_All-Star_Game</string>
		<key>date</key>
		<date>1970-01-20T00:00:00Z</date>
	</dict>
	<key>1970 State of the Union Address</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_State_of_the_Union_Address</string>
		<key>date</key>
		<date>1970-01-22T00:00:00Z</date>
	</dict>
	<key>1970 ABA All-Star Game: The Western beats East</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_ABA_All-Star_Game</string>
		<key>date</key>
		<date>1970-01-24T00:00:00Z</date>
	</dict>
	<key>1970 NFL Draft</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_NFL_Draft</string>
		<key>date</key>
		<date>1970-01-27T00:00:00Z</date>
	</dict>
	<key>Republican congressman Glenard P. Lipscomb died.</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Glenard_P._Lipscomb</string>
		<key>date</key>
		<date>1970-02-01T00:00:00Z</date>
	</dict>
	<key>1970 U.S. Professional Indoor: Rod Laver wins singles</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_U.S._Professional_Indoor_%E2%80%93_Singles</string>
		<key>date</key>
		<date>1970-02-02T00:00:00Z</date>
	</dict>
	<key>The United States Tax Court - Salvatore v. Commissioner</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Salvatore_v._Commissioner</string>
		<key>date</key>
		<date>1970-02-04T00:00:00Z</date>
	</dict>
	<key>San Francisco Police Department Park Station bombing</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/San_Francisco_Police_Department_Park_Station_bombing</string>
		<key>date</key>
		<date>1970-02-16T00:00:00Z</date>
	</dict>
	<key>1970 Daytona 500: Pete Hamilton won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Daytona_500</string>
		<key>date</key>
		<date>1970-02-22T00:00:00Z</date>
	</dict>
	<key>Republican congressman James B. Utt died.</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Daytona_500</string>
		<key>date</key>
		<date>1970-03-01T00:00:00Z</date>
	</dict>
	<key>"Supreme Court - Pike v. Bruce Church</key>
	<dict>
		<key>url</key>
		<string> Inc."</string>
		<key>date</key>
		<date>1970-03-02T00:00:00Z</date>
	</dict>
	<key>Greenwich Village townhouse explosion killed three members of the Weather Underground.</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Greenwich_Village_townhouse_explosion</string>
		<key>date</key>
		<date>1970-03-06T00:00:00Z</date>
	</dict>
	<key>12th Annual Grammy Awards</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/12th_Annual_Grammy_Awards</string>
		<key>date</key>
		<date>1970-03-11T00:00:00Z</date>
	</dict>
	<key>U.S. postal strike of 1970 started</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/U.S._postal_strike_of_1970</string>
		<key>date</key>
		<date>1970-03-17T00:00:00Z</date>
	</dict>
	<key>1970 12 Hours of Sebring: Scuderia Ferrari won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_12_Hours_of_Sebring</string>
		<key>date</key>
		<date>1970-03-21T00:00:00Z</date>
	</dict>
	<key>The Supreme Court - Goldberg v. Kelly</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Goldberg_v._Kelly</string>
		<key>date</key>
		<date>1970-03-23T00:00:00Z</date>
	</dict>
	<key>U.S. postal strike of 1970 strike ended.</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/U.S._postal_strike_of_1970</string>
		<key>date</key>
		<date>1970-03-25T00:00:00Z</date>
	</dict>
	<key>The Supreme Court - In re Winship</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/In_re_Winship</string>
		<key>date</key>
		<date>1970-03-31T00:00:00Z</date>
	</dict>
	<key>The Public Health Cigarette Smoking Act</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Public_Health_Cigarette_Smoking_Act</string>
		<key>date</key>
		<date>1970-04-01T00:00:00Z</date>
	</dict>
	<key>The Environmental Quality Improvement Act</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Environmental_Quality_Improvement_Act</string>
		<key>date</key>
		<date>1970-04-03T00:00:00Z</date>
	</dict>
	<key>Newhall massacre</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Newhall_massacre</string>
		<key>date</key>
		<date>1970-04-05T00:00:00Z</date>
	</dict>
	<key>The Supreme Court - Ashe v. Swenson</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ashe_v._Swenson</string>
		<key>date</key>
		<date>1970-04-06T00:00:00Z</date>
	</dict>
	<key>42nd Academy Awards</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/42nd_Academy_Awards</string>
		<key>date</key>
		<date>1970-04-07T00:00:00Z</date>
	</dict>
	<key>1970 Alabama 500: Pete Hamilton won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Alabama_500</string>
		<key>date</key>
		<date>1970-04-12T00:00:00Z</date>
	</dict>
	<key>1970 Masters Tournament: Billy Casper won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Masters_Tournament</string>
		<key>date</key>
		<date>1970-04-13T00:00:00Z</date>
	</dict>
	<key>1970 tornado outbreak sequence</key>
	<dict>
		<key>url</key>
		<string>"https://en.wikipedia.org/wiki/April_17%E2%80%9319</string>
		<key>date</key>
		<date>1970-04-17T00:00:00Z</date>
	</dict>
	<key>24th Tony Awards</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/24th_Tony_Awards</string>
		<key>date</key>
		<date>1970-04-19T00:00:00Z</date>
	</dict>
	<key>1970 Boston Marathon: Ron Hill won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/24th_Tony_Awards</string>
		<key>date</key>
		<date>1970-04-20T00:00:00Z</date>
	</dict>
	<key>Operation Patio: The Seventh Air Force began bombing</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Operation_Patio</string>
		<key>date</key>
		<date>1970-04-24T00:00:00Z</date>
	</dict>
	<key>Operation Patio: The bombing area was extended</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Operation_Patio</string>
		<key>date</key>
		<date>1970-04-25T00:00:00Z</date>
	</dict>
	<key>Cambodian Campaign: Nixon announced US operations in Cambodia</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cambodian_Campaign</string>
		<key>date</key>
		<date>1970-04-30T00:00:00Z</date>
	</dict>
	<key>The Jackson 5 First National Tour</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Jackson_5_First_National_Tour</string>
		<key>date</key>
		<date>1970-05-01T00:00:00Z</date>
	</dict>
	<key>Kent State shootings</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Kent_State_shootings</string>
		<key>date</key>
		<date>1970-05-02T00:00:00Z</date>
	</dict>
	<key>The Supreme Court - Brady v. United States</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Brady_v._United_States</string>
		<key>date</key>
		<date>1970-05-04T00:00:00Z</date>
	</dict>
	<key>Student strike of 1970</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Student_strike_of_1970</string>
		<key>date</key>
		<date>1970-05-07T00:00:00Z</date>
	</dict>
	<key>Hard Hat riot</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hard_Hat_Riot</string>
		<key>date</key>
		<date>1970-05-08T00:00:00Z</date>
	</dict>
	<key>1970 Lubbock tornado</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Lubbock_tornado</string>
		<key>date</key>
		<date>1970-05-09T00:00:00Z</date>
	</dict>
	<key>1970 Augusta riot</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Augusta_riot</string>
		<key>date</key>
		<date>1970-05-11T00:00:00Z</date>
	</dict>
	<key>Jackson State killings</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Jackson_State_killings</string>
		<key>date</key>
		<date>1970-05-12T00:00:00Z</date>
	</dict>
	<key>Miss USA 1970: Deborah Shelton won</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Miss_USA_1970</string>
		<key>date</key>
		<date>1970-05-15T00:00:00Z</date>
	</dict>
	<key>1970 Preakness Stakes</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Preakness_Stakes</string>
		<key>date</key>
		<date>1970-05-16T00:00:00Z</date>
	</dict>
	<key>Operation Freedom Deal</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Operation_Freedom_Deal</string>
		<key>date</key>
		<date>1970-05-18T00:00:00Z</date>
	</dict>
	<key>Hurricane Alma</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hurricane_Alma_(1970)</string>
		<key>date</key>
		<date>1970-05-19T00:00:00Z</date>
	</dict>
	<key>The Airport and Airway Development Act of 1970 was signed</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Airport_and_Airway_Development_Act_of_1970</string>
		<key>date</key>
		<date>1970-05-20T00:00:00Z</date>
	</dict>
	<key>1970 World 600</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_World_600</string>
		<key>date</key>
		<date>1970-05-21T00:00:00Z</date>
	</dict>
	<key>The Supreme Courte - Schacht v. United States</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Schacht_v._United_States</string>
		<key>date</key>
		<date>1970-05-24T00:00:00Z</date>
	</dict>
	<key>1970 Indianapolis 500</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1970_Indianapolis_500</string>
		<key>date</key>
		<date>1970-05-25T00:00:00Z</date>
	</dict>
</dict>
</plist>
